.projectContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #6ebb02; /* Professional green font color */
    padding: 0rem;
    border-radius: 8px;
    margin-bottom: 0rem; 
}

.projectImage {
    flex: 1; /* Image takes half the width */
    max-width: 400px;
    height: 200px;
    border-radius: 8px;
    margin-right: 1.5rem;
    object-fit: cover;
    border: 1px solid  var(--text-color);
}

.projectContent {
    flex: 1; /* Text content takes half the width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #6ebb02; /* Highlighted green */
}

.projectTechnologies {
    /* margin-bottom: 1rem; */
    font-size: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.technologyBadge {
    background-color: rgba(79, 78, 78, 0.2);
    color: gray;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
}

.projectDescription {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: gray;
}

.projectLink {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
}

.projectLink a {
    color: #6ebb02;
    text-decoration: none;
    border: 1px solid #6ebb02;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.projectLink a:hover {
    background-color: #6ebb02;
    color: black;
}

/* Add responsiveness for smaller screens */
@media (max-width: 768px) {
    .projectContainer {
        flex-direction: column;
    }

    .projectImage {
        flex: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .projectContent {
        flex: none;
    }
    .projectName{
        font-size: 1rem;
    }
}

.showMoreButton {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 1rem;
  }
button{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgba(149, 255, 0, 1);
    color: black;
    text-align: center;
}

button:hover{
    background-color: rgba(149, 255, 0, 0.714);
    color: black;
}
