.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6ebb02;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.projectImage {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid var(--text-color);
}

.projectContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.projectName {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6ebb02;
}

.technologyBadge {
    background-color: rgba(79, 78, 78, 0.2);
    color: gray;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
    display: inline-block;
    margin: 2px;
}

.projectDescription {
    font-size: 0.9rem;
    line-height: 1.5;
    color: gray;
}

.projectLink a {
    color: #6ebb02;
    text-decoration: none;
    border: 1px solid #6ebb02;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.projectLink a:hover {
    background-color: #6ebb02;
    color: black;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .projectImage {
        width: 85%;
        height: 50%;
        margin-bottom: 20px;
    }

    .projectName {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .projectTechnologies {
        width: 100%;
        height: 60px;
    }

    .projectDescription {
        width: 100%;
        height: 75px;
    }
}

@media (min-width: 1024px) {
    .projectImage {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .projectName {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .projectTechnologies {
        width: 100%;
        height: 60px;
    }

    .projectDescription {
        width: 100%;
        height: 75px;
    }
}


@media (min-width: 769px) and (max-width: 1023px) {
    .projectImage {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .projectName {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .projectTechnologies {
        width: 100%;
        height: 60px;
    }

    .projectDescription {
        width: 100%;
        height: 75px;
    }
}